/.bundle
/.env
/.env.*
!/.env.example
/config/master.key
/config/credentials/*.key
/coverage
/log/*
/storage/*
/tmp/*
!/log/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids/.keep
!/tmp/storage/.keep
/.ruby-lsp
/.idea
/.vscode
*.swp
*.log
.DS_Store
Thumbs.db
